TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
ALLOWED_USER_ID=
TIMEZONE=Europe/Moscow
MARKET=MOEX
DEFAULT_TIMEFRAME=1d
AUTO_DAILY_REPORT=true
AUTO_WEEKLY_REPORT=true
AUTO_MONTHLY_REPORT=true
DAILY_REPORT_TIME=23:55
WEEKLY_REPORT_DAY=FRIDAY
WEEKLY_REPORT_TIME=23:55
MONTHLY_REPORT_TIME=23:55
USER_SETTINGS_PATH=user_settings.json

TICKERS_FILE=tickers.txt
LOG_FILE=bot.log

MOEX_BOARD=TQBR
MOEX_TIMEOUT_SECONDS=10
